*
  margin: 0
  padding: 0
  outline: 0

body
  width: 100%

img
  border: none

br
  clear: both

.shy
  display: none


#topbar
  padding: 0px 20px
  margin-top: 5px
  h1
    font-size: 24px
    margin-bottom: 5px
    .beta
      color: #f00
      font-size: 0.6em
  form
    textarea
      height: 150px 
      min-height: 150px 
      max-height: 150px 
      padding: 3px
    input
      margin-left: 20px

#main
  border: 0
  iframe
    width: 100%
    border: none
