*
  margin: 0
  padding: 0
  outline: 0

body
  width: 100%

img
  border: none

.shy
  display: none

#topbar
  background-color: #a0d8ef
  box-shadow: 0px 1px 3px #666666
  padding-left: 200px
  form
    padding: 8px 0px
    textarea
      width: 50% 
      height: 100px 

#main
  iframe
    width: 100%
    border: none
